# Identity
set realname = "Adam Karafyllidis"
set from = "adamkarafyllidis@nablesolutions.com"

# Mailboxes
set folder = "~/.mail/nablesolutions"
set spoolfile = "+INBOX"
set postponed = "+Drafts"
set record = "+Sent"
set trash = "+Deleted Items"
set header_cache = "~/.cache/neomutt/nablesolutions/headers"
set message_cachedir = "~/.cache/neomutt/nablesolutions/bodies"
set mail_check = 60
set timeout = 10

# Connection (IMAP)
set imap_user = "adamkarafyllidis@nablesolutions.com"
set imap_authenticators = "xoauth2"
set imap_oauth_refresh_command = "oama access adamkarafyllidis@nablesolutions.com"
set folder = "imaps://outlook.office365.com:993"
set spoolfile = "+INBOX"

# Sending mail (SMTP)
set smtp_url = "smtps://adam.karafyllidis@nablesolutions.com@smtp.office365.com:465"
set smtp_authenticators = "xoauth2"
set smtp_oauth_refresh_command = "oama access adamkarafyllidis@nablesolutions.com"

# General settings
set ssl_force_tls = yes
set move = no
set imap_keepalive = 300
set mail_check = 120
set timeout = 30
