#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Outlook (PWA)
MimeType=x-scheme-handler/mailto
Exec=/opt/brave-bin/brave --profile-directory=Default --app-id=pkooggnaalmfkidjmlhoelhdllpphaga --ozone-platform=wayland --use-gl=desktop %U
Icon=brave-pkooggnaalmfkidjmlhoelhdllpphaga-Default
StartupWMClass=crx_pkooggnaalmfkidjmlhoelhdllpphaga
Actions=New-event;New-message;Open-calendar

[Desktop Action New-event]
Name=New event
Exec=/opt/brave-bin/brave --profile-directory=Default --app-id=pkooggnaalmfkidjmlhoelhdllpphaga --app-launch-url-for-shortcuts-menu-item=https://outlook.office365.com/calendar/deeplink/compose

[Desktop Action New-message]
Name=New message
Exec=/opt/brave-bin/brave --profile-directory=Default --app-id=pkooggnaalmfkidjmlhoelhdllpphaga --app-launch-url-for-shortcuts-menu-item=https://outlook.office365.com/mail/deeplink/compose

[Desktop Action Open-calendar]
Name=Open calendar
Exec=/opt/brave-bin/brave --profile-directory=Default --app-id=pkooggnaalmfkidjmlhoelhdllpphaga --app-launch-url-for-shortcuts-menu-item=https://outlook.office365.com/calendar
