.idea
__pycache__/
node_modules/
bookmarks
lazygit/state.yml
lazy-lock.json
tt.*
.tests
doc/tags
debug
.repro
*.log
nvim/data
.netrwhist
vim/sessions/
~/.env
*.o
*.orig
st/st
st/config.h
dwm/dwm
dwm/config.h
mtwm/mtwm
