configuration {
    modi: "window,run,drun";
    show-icons: true;
    display-drun: "";
    disable-history: false;
    kb-secondary-copy: "Control+y";
    kb-cancel: "Escape,Control+c";
}

@theme "~/dotfiles/rofi/vscode.rasi"
