configuration {
    modi: "window,run,drun";
    show-icons:      true;
    display-drun:    "";
    disable-history: false;
    kb-cancel: "Escape,Control+c";
}

@theme "~/dotfiles/rofi/vscode.rasi"
