* {
    foreground: #d4be98;
    background-color: #282828;
    active-background: #89b48240;
    urgent-background: #ea6962;
    urgent-foreground: #3c3836;
    selected-background: @active-background;
    selected-urgent-background: @urgent-background;
    selected-active-background: @active-background;
    separatorcolor: @active-background;
    bordercolor: #1d2021;
}

@import "./config.rasi"
