* {
    foreground: #aaaaaa;
    background-color: #111111;
    active-background: #3F3256;
    active-foreground: var(foreground); 
    urgent-background: #f7768e;
    urgent-foreground: #282a36;
    selected-background: var(active-background);
    selected-foreground: var(foreground);
    selected-urgent-background: var(urgent-background);
    selected-active-background: var(active-background);
    separatorcolor: var(active-background);
    bordercolor: #222222;
}

@import "./config.rasi"
