* {
    foreground: #dcdfe4;
    background-color: #1a1d21;
    active-background: #61afef40;
    urgent-background: #f44747;
    urgent-foreground: #282a36;
    selected-background: @active-background;
    selected-urgent-background: @urgent-background;
    selected-active-background: @active-background;
    separatorcolor: @active-background;
    bordercolor: #0f0f0f;
}

@import "./config.rasi"
