* {
    foreground: #d4d4d4;
    background-color: #24283b;
    active-background: #1a1b26;
    urgent-background: #f7768e;
    urgent-foreground: #282a36;
    selected-background: @active-background;
    selected-urgent-background: @urgent-background;
    selected-active-background: @active-background;
    separatorcolor: @active-background;
    bordercolor: #1a1f2d;
}

@import "./config.rasi"
