* {
    foreground: #d4d4d4;
    background-color: #1f1f1f;
    active-background: #007ACC40;
    urgent-background: #f44747;
    urgent-foreground: #282a36;
    selected-background: var(active-background);
    selected-urgent-background: var(urgent-background);
    selected-active-background: var(active-background);
    separatorcolor: var(active-background);
    bordercolor: #0f0f0f;
}

@import "./config.rasi"
