@define-color bar-background #18191A;
@define-color bar-foreground #AEAFAD;
@define-color button-focused-background #444444;
@define-color button-focused-color #D4D4D4;
@define-color button-urgent-background #569CD6;
@define-color button-urgent-color #18191A;
@define-color blink-background #18191A;
@define-color critical-background rgba(244, 71, 71, 0.1);
@define-color critical-color #E4676B;
@define-color warning-background rgba(226, 192, 141, 0.1);
@define-color warning-color #d7ba7d;

* {
  font-family: HasklugNerdFont;
  font-size: 12px;
  border: none;
  min-height: 0;
  padding: 0;
  margin: 0;
  color: @bar-foreground;
}

window#waybar {
  background-color: @bar-background;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar #window {
  opacity: 0.7;
  margin-right: 50px;
}

#workspaces {
  margin-right: 10px;
}

#workspaces button {
  padding: 0 8px;
  color: @bar-foreground;
  border-radius: 0;
  min-width: 0;
  transition: none;
  box-shadow: none;
  background: inherit;
}

#workspaces button:hover {
  background: inherit;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: @button-focused-background;
  color: @button-focused-color;
}

#workspaces button.urgent {
  background-color: @button-urgent-background;
  color: @button-urgent-color;
}

button:hover {
  box-shadow: none;
}

label.module {
  margin-right: 10px;
}

#pulseaudio,
#bluetooth,
#network {
  opacity: 0.8;
}

#network.disconnected {
  color: @critical-color;
}

@keyframes blink {
  to {
    background-color: @blink-background;
  }
}

#battery.critical:not(.charging) {
  color: @critical-color;
  background-color: @critical-background;
  padding: 0 5px;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning:not(.charging) {
  color: @warning-color;
  background-color: @warning-background;
  padding: 0 5px;
}
