* {
  font-family: HackNerdFont;
  font-size: 12.5px;
  border: none;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  color: @bar-foreground;
  background-color: @bar-background;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar #window {
  opacity: 0.7;
  margin-right: 50px;
}

#workspaces {
  margin-right: 10px;
}

#workspaces button {
  padding: 0 8px;
  color: @bar-foreground;
  border-radius: 0;
  min-width: 0;
  transition: none;
}

#workspaces button:hover {
  background: @button-hover-background;
}

#workspaces button.focused {
  background-color: @button-focused-background;
  color: @button-focused-color;
}

#workspaces button.urgent {
  background-color: @button-urgent-background;
  color: @button-urgent-color;
}

label.module {
  margin-right: 10px;
}

#pulseaudio,
#bluetooth,
#network {
  opacity: 0.8;
}

#network.disconnected {
  color: @critical-color;
}

@keyframes blink {
  to {
    background-color: @blink-background;
  }
}

#battery.critical:not(.charging) {
  color: @critical-color;
  background-color: @critical-background;
  padding: 0 5px;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning:not(.charging) {
  color: @warning-color;
  background-color: @warning-background;
  padding: 0 5px;
}

#custom-dwl {
  padding: 0 10px;
}
