* {
  font-family: HackNerdFont;
  font-size: 12.5px;
  border: none;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  color: @bar-foreground;
  background-color: @bar-background;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar #window {
  opacity: 0.7;
}

#workspaces {
  margin-right: 10px;
}

#workspaces button {
  padding: 0 8px;
  color: @bar-foreground;
  border-radius: 0;
  min-width: 0;
  transition: none;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  /* background-color: #51504f; */
  background-color: @focused-button-background;
  color: #ffffff;
}

#workspaces button.urgent {
  background-color: #f7768e;
}

label.module {
  margin-right: 10px;
}

#network {
  color: #9ece6a;
}

@keyframes blink {
  to {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

#battery.critical:not(.charging) {
  color: #f7768e;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 0 5px;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning:not(.charging) {
  color: #ff9e64;
  background-color: rgba(255, 165, 0, 0.1);
  padding: 0 5px;
}
