[Unit]
Description=tmux sessions for user

[Service]
Type=forking
ExecStart=/bin/sh -c '/usr/bin/tmux new-session -s default -d; /usr/bin/tmux new-session -s work -d -c ~/nable-solutions'
ExecStop=/usr/bin/tmux kill-session -t default
ExecStopPost=/usr/bin/tmux kill-session -t work
EnvironmentFile=/home/akisarou/dotfiles/zsh/exports.sh

[Install]
WantedBy=default.target
