/* VS Code Dark Theme Colors */
:root {
  /* Base colors */
  --vsc-front: #d4d4d4;
  --vsc-back: #1f1f1f;

  /* Tab colors */
  --vsc-tab-current: #1f1f1f;
  --vsc-tab-other: #2d2d2d;
  --vsc-tab-outside: #252526;

  /* Sidebar colors */
  --vsc-left-dark: #252526;
  --vsc-left-mid: #373737;
  --vsc-left-light: #636369;

  /* Popup colors */
  --vsc-popup-front: #bbbbbb;
  --vsc-popup-back: #202020;
  --vsc-popup-highlight-blue: #04395e;
  --vsc-popup-highlight-gray: #343b41;

  /* Split/border colors */
  --vsc-split-light: #898989;
  --vsc-split-dark: #444444;
  --vsc-split-thumb: #424242;

  /* Cursor/selection colors */
  --vsc-cursor-dark-dark: #222222;
  --vsc-cursor-dark: #51504f;
  --vsc-cursor-light: #aeafad;
  --vsc-selection: #264f78;
  --vsc-line-number: #5a5a5a;

  /* Diff colors */
  --vsc-diff-red-dark: #4b1818;
  --vsc-diff-red-light: #6f1313;
  --vsc-diff-red-light-light: #fb0101;
  --vsc-diff-green-dark: #373d29;
  --vsc-diff-green-light: #4b5632;
  --vsc-search-current: #515c6a;
  --vsc-search: #613315;

  /* Git colors */
  --vsc-git-added: #81b88b;
  --vsc-git-modified: #e2c08d;
  --vsc-git-deleted: #c74e39;
  --vsc-git-renamed: #73c991;
  --vsc-git-untracked: #73c991;
  --vsc-git-ignored: #8c8c8c;
  --vsc-git-stage-modified: #e2c08d;
  --vsc-git-stage-deleted: #c74e39;
  --vsc-git-conflicting: #e4676b;
  --vsc-git-submodule: #8db9e2;

  /* Context colors */
  --vsc-context: #404040;
  --vsc-context-current: #707070;

  /* Fold colors */
  --vsc-fold-background: #202d39;

  /* Suggestion colors */
  --vsc-suggestion: #6a6a6a;

  /* Syntax colors */
  --vsc-gray: #808080;
  --vsc-violet: #646695;
  --vsc-blue: #569cd6;
  --vsc-accent-blue: #4fc1ff;
  --vsc-dark-blue: #223e55;
  --vsc-medium-blue: #18a2fe;
  --vsc-disabled-blue: #729db3;
  --vsc-light-blue: #9cdcfe;
  --vsc-green: #6a9955;
  --vsc-blue-green: #4ec9b0;
  --vsc-light-green: #b5cea8;
  --vsc-red: #f44747;
  --vsc-orange: #c48081;
  --vsc-light-red: #d16969;
  --vsc-yellow-orange: #d7ba7d;
  --vsc-yellow: #dcdcaa;
  --vsc-dark-yellow: #ffd602;
  --vsc-pink: #c586c0;

  /* Low contrast */
  --vsc-dim-highlight: #51504f;

  /* UI specific colors */
  --vsc-ui-blue: #084671;
  --vsc-ui-orange: #f28b25;
  --vsc-popup-highlight-light-blue: #d7eafe;
}

/* VS Code Light Theme Colors */
:root.light,
[data-theme="light"] {
  /* Base colors */
  --vsc-front: #343434;
  --vsc-back: #ffffff;

  /* Tab colors */
  --vsc-tab-current: #ffffff;
  --vsc-tab-other: #cecece;
  --vsc-tab-outside: #e8e8e8;

  /* Sidebar colors */
  --vsc-left-dark: #c4c4c4;
  --vsc-left-mid: #e5e5e5;
  --vsc-left-light: #f3f3f3;

  /* Popup colors */
  --vsc-popup-front: #000000;
  --vsc-popup-back: #f8f8f8;
  --vsc-popup-highlight-blue: #0064c1;
  --vsc-popup-highlight-gray: #767676;

  /* Split/border colors */
  --vsc-split-light: #eeeeee;
  --vsc-split-dark: #dddddd;
  --vsc-split-thumb: #dfdfdf;

  /* Cursor/selection colors */
  --vsc-cursor-dark-dark: #e5e5e5;
  --vsc-cursor-dark: #6f6f6f;
  --vsc-cursor-light: #767676;
  --vsc-selection: #add6ff;
  --vsc-line-number: #098658;

  /* Diff colors */
  --vsc-diff-red-dark: #ffcccc;
  --vsc-diff-red-light: #ffa3a3;
  --vsc-diff-red-light-light: #ffcccc;
  --vsc-diff-green-dark: #dbe6c2;
  --vsc-diff-green-light: #ebf1dd;
  --vsc-search-current: #a8ac94;
  --vsc-search: #f8c9ab;

  /* Git colors */
  --vsc-git-added: #587c0c;
  --vsc-git-modified: #895503;
  --vsc-git-deleted: #ad0707;
  --vsc-git-renamed: #007100;
  --vsc-git-untracked: #007100;
  --vsc-git-ignored: #8e8e90;
  --vsc-git-stage-modified: #895503;
  --vsc-git-stage-deleted: #ad0707;
  --vsc-git-conflicting: #ad0707;
  --vsc-git-submodule: #1258a7;

  /* Context colors */
  --vsc-context: #d2d2d2;
  --vsc-context-current: #929292;

  /* Fold colors */
  --vsc-fold-background: #e6f3ff;

  /* Suggestion colors */
  --vsc-suggestion: #868686;

  /* Syntax colors */
  --vsc-gray: #000000;
  --vsc-violet: #000080;
  --vsc-blue: #0000ff;
  --vsc-accent-blue: #4fc1ff;
  --vsc-dark-blue: #007acc;
  --vsc-medium-blue: #18a2fe;
  --vsc-disabled-blue: #729db3;
  --vsc-light-blue: #0451a5;
  --vsc-green: #008000;
  --vsc-blue-green: #16825d;
  --vsc-light-green: #098658;
  --vsc-red: #ff0000;
  --vsc-orange: #c72e0f;
  --vsc-light-red: #a31515;
  --vsc-yellow-orange: #800000;
  --vsc-yellow: #795e26;
  --vsc-pink: #af00db;

  /* Low contrast */
  --vsc-dim-highlight: #b2dfdb;
}
