@define-color bar-background #111111;
@define-color bar-foreground #eeeeee;
@define-color button-hover-background rgba(0, 0, 0, 0.2);
@define-color button-focused-background #333333;
@define-color button-focused-color #eeeeee;
@define-color button-urgent-background #9d7cd8;
@define-color button-urgent-color #111111;
@define-color blink-background #111111;
@define-color critical-background rgba(255, 0, 0, 0.1);
@define-color critical-color #f7768e;
@define-color warning-background rgba(255, 165, 0, 0.1);
@define-color warning-color #ff9e64;

@import "./../style.css";
