@define-color bar-background #121314;
@define-color bar-foreground #D4D4D4;
@define-color button-hover-background rgba(255, 255, 255, 0.1);
@define-color button-focused-background #444444;
@define-color button-focused-color #D4D4D4;
@define-color button-urgent-background #569CD6;
@define-color button-urgent-color #121314;
@define-color blink-background #121314;
@define-color critical-background rgba(244, 71, 71, 0.1);
@define-color critical-color #F44747;
@define-color warning-background rgba(226, 192, 141, 0.1);
@define-color warning-color #e2c08d;

@import "./../style.css";
